/* 
 * CSS for Appointment Calendar 
 * by Kevin Yang
 */

/* Setting default text color, background and a font stack */
body{
    color:#555555;
    font-size:0.825em;
    background: #fcfcfc;
    font-family:Arial, Helvetica, sans-serif;
    height:95%;
    margin:0;
}